<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<h1>REGISTRATION</h1>
<body>
<form action="register" method="post">
    {% csrf_token %}
    <input type="text" name="username" placeholder="what is your username?"><br>
    <input type="text" name="first_name" placeholder="what is your first name?"><br>
    <input type="text" name="last_name" placeholder="what is your last name?"><br>
    <input type="email" name="email" placeholder="what is your email?"><br>
    <input type="password" name="password" placeholder="what is your password?"><br>
    <input type="password" name="password1" placeholder="confirm your password"><br>
    <input type="submit">

</form>
{% for msg in messages %}
{{msg}}
{% endfor %}
</body>
</html>